#event-list-section {
   padding: 2% 9%;
}

#event-list-section h2 {
   margin-bottom: 1.5rem;
}

/* .event-image {
   max-width: 256px;
} */

.event-timing {
   margin-bottom: 0.5rem;
}

.event-card {
   margin-bottom: 1rem;
   padding: 1rem;
}

.card a {
   text-decoration: none;
   color: black;
}

.card a:hover {
   color: white;
}

.card-body {
   margin-left: 1rem;
}

.image-container {
   height: 246px;
   width: 300px;
}

.image-container img {
   height: 100%;
   width: 100%;
}
